<div class="col-md-6 offset-md-3">
    <h3 class="text-center">
        Registro de Empleado
    </h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.nombre" name="nombre">
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="empleado.apellido" name="apellido">
        </div>
        <div class="form-group mb-2">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="empleado.email" name="email">
        </div>


        <button class="btn btn-success">Submit</button>


    </form>
</div>